<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCTg4aOReQOU-KSUKVIJZS89YS9yEKu6dc</string>
	<key>GCM_SENDER_ID</key>
	<string>191802439908</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ssafadi.diceRollerAr</string>
	<key>PROJECT_ID</key>
	<string>dice-roller-ar</string>
	<key>STORAGE_BUCKET</key>
	<string>dice-roller-ar.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:191802439908:ios:3c863148bc9dc0027a54f1</string>
</dict>
</plist>